* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	font-family: Verdana;
}

.conteiner {
	width: 1200px;
	max-width: 1200px;
	height: 100%;
	margin: auto;
	background-color: white;
}

header {
	position: relative;
	width: 1200px;
	max-width: 1200px;
	height: 100px;
	background-color: white;
	margin:auto;
}

nav {
	width: 100%;
	height: 100px;
	display: flex;
	position: relative;
}

.osnvfon{
	width: 500px;
	height: 600px;
}

.logo{
	position: absolute;
	height: 50px;
	width: 50px;
	margin-top: 25px;
	margin-left: 30px;
}

.menu{
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 700px;
	margin-top: 10px;
}
.search {
	padding: 30px;
}

.shop{
	padding: 30px;
}

.signup {
	text-decoration: none;
	color: #156963;
	background-color: white;
	padding: 10px;
	padding-left: 20px;
	padding-right: 20px;

}

.signin {
	text-decoration: none;
	color: white;
	background-color: #156963;
	padding: 10px;
	padding-left: 20px;
	padding-right: 20px;
}

.main {
	margin-left: 550px;
	margin-top: 75px;
	margin-bottom: 30px;
	width: 500px;
	height: 500px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.content {
	height: 500px;
	width: 600px;
}

h3 {
	font-family: 'Montserrat';
	font-size: 80px;
	color: #156963;
	padding-left: 80px;
	font-weight: normal;
}

.text {
	font-family: 'Montserrat';
	font-size: 18px;
	color: #2C1500;
	padding-top: 10px;
	padding-left: 80px;
	padding-bottom: 80px;
}

.btn {
	width: 300px;
	height: 100px;
}

.block1{
	display: flex;
	flex-direction: column;
}

.btn {
	display: flex;
	width: 500px;
	height: 200px;
	margin-left: 60px;
}

.btn1{
	width: 500px;
	height: 100px;
	background-color: white;
	color: #156963;
	font-family: Montserrat;
	font-size: 32px;
	text-align: left;
	padding-top: 30px;

}

.btn2{
	width: 500px;
	height: 100px;
	background-color: #156963;
	color: white;
	font-family: Montserrat;
	font-size: 32px;
	text-align: center;
	padding-top: 30px;
}

.arrownext{
	position: absolute;
	color: grey;	
	font-size: 24px;
	left: 350px;
	top: 3px;
}

.arrowback{
	position: absolute;
	color: grey;	
	font-size: 24px;
	top: 3px;
	left: 30px;

}

.prev {
	position: absolute;
	color: grey;
	font-family: Montserrat;	
	font-size: 24px;
	left: 60px;
	top: 5px;
}

.next {
	position: absolute;
	color: grey;
	font-family: Montserrat;	
	font-size: 24px;
	left: 295px;
	top: 5px;


}

.spans {
	position: relative;
	display: flex;
	flex-direction: row;
	padding-left: 30px;
}

.main2 {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 1200px;
	height: 300px;
}

.main_tabl {
  display: flex;
  flex-direction: row;
  margin-bottom: 140px;
}

.tabl {
  padding: 25px;
  margin: 50px 20px;
  border: 1px solid #E0E0E0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
}

.tabl h4 {
  color: #156963;
  font-weight: 700px;
  width: 50px;
  margin-left: 20px;
}

.tabl p {
    width: 240px;
    height: 70px;
    font-size: 14px;
    opacity: 0.6;
}

.tabl img{
    position: relative;
    max-height: 50px;
    max-width: 50px;
    margin: 0 20px 15px 0;
}