* {
	margin:0;
	padding: 0;
	font-family: Verdana;
	box-sizing: border-box;
}

a, p, h3 {
	text-decoration: none;
	color: white;
}

a:hover {
	color: #ee8df0;
}

a:active {
	color: #4b054d;
}

.conteiner {
	width: 100%;
	max-width: 1200px;
	margin: auto;
	padding:0 30px;
}

.bg {
	width: 100%;
	border-radius: 6px;
	background-color: #8D297F;
}

.header {
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 60px;
	width: 1140px;
	margin: 20px 0;
	border-radius: 6px;
	background-color: #8D297F;
}

.header_nav {
	display: flex;
	align-items: center;
}

.header_item {
	color: white;
	margin: 0 30px;

}

.header_item_header_logo {
	font-weight: 600px;
	font-size: 22px;
	margin: 0 30px;
	color: 	white;
}	
main {
	padding-top: 100px;
}
.info_item {
	display: flex;
	align-items: center;
	padding: 30px;
	border-radius: 6px;
}

.info_one {
	margin-bottom: 20px;
	background-color: #8D297F;
}

.info_two {
	flex-direction: row-reverse;
	margin-bottom: 20px;
	background-color: #8D297F;
}

.info_img {
	min-width: 300px;
	height: 300px;
	width: 300px;
	background-color: white;
	border-radius: 6px;
}

.info_text{
	color: white;
}

.info_text_one {
	margin-left: 30px;
}

.info_text_two {
	margin-right: 30px;
	text-align: right;
}

section {
	margin-bottom: 20px;
}

.prise {
	padding: 30px;
	display: flex;
	justify-content: space-between;
}

.prise_item{
	width: 300px;
	padding: 20px;
	border-radius: 6px;
	background-color: #7D256F;
}

.prise_img{
	width: 100%;
	height: 300px;
	border-radius: 6px;
	background-color: white;
}

.prise_text{
	padding: 10px;
	padding-top: 0px;
	text-align: center;
}

h3{
	padding: 10px;
	text-align: center;
}

.prise_btn {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: auto;
	color: white;
	background-color: #BC3D96;
	border-radius: 6px;
	padding: 10px;
	margin: 10px 0 0 0;
}

.card {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding:30px;
	padding-bottom: 10px;
}

.card_item {
	width: 250px;
	height: 300px;
	background-color: white;
	border-radius: 6px;
	margin-bottom: 20px;
}

.footer {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 60px;
	width: 100%;
	margin: 20px 0;
	border-radius: 6px;
	background-color: #8D297F;
}

.footer_nav {
	display: flex;
	align-items: center;
}

.footer_item {
	color: white;
	margin: 0 30px;

}

.footer_item_footer_logo {
	font-weight: 600px;
	font-size: 22px;
	margin: 0 30px;
	color: white;
}

.position {
	position: relative;
	width: 100%;
	height: 300px;
	background-color: #8D297F;
	border-radius: 6px;

}

.position_img {
	width: 100px;
	height: 100px;
	background-color: white;
	border-radius: 6px;
	position: absolute;
}

.right_img {
	right: 0px;
}

.bottom_left_img {
	bottom: 0px;
}

.bottom_right_img {
	bottom: 0px;
	right: 0px;
}

.center_img {
	right: 0px;
	left: 0px;
	bottom: 0px;
	top: 0px;
	margin:auto;
}



